@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.head-text_1 {
  @apply text-3xl font-semibold text-[#242424];
}

.head-text_2 {
  @apply text-[18px] font-semibold text-[#242424];
}

.paragraph-text {
  @apply text-base text-[#242424];
}

.paragraph-text_2 {
  @apply text-[14px] text-[#242424];
}

.paragraph-text_3 {
  @apply text-[13px] text-[#242424];
}

.paragraph-text_white {
  @apply text-[13px];
}

.head-text_3 {
  @apply text-[15px] font-semibold text-[#242424];
}

.hero-text {
  @apply text-white font-bold text-3xl md:text-5xl lg:text-6xl;
}

.hero-text_2 {
  @apply text-white font-bold text-3xl md:text-5xl;
}

.sub-hero-text {
  @apply text-white font-semibold text-2xl md:text-xl lg:text-xl;
}

.sub-hero-text_2 {
  @apply text-white text-base md:text-lg;
}

.blue-bg {
  background: #172d44;
}

.text-theme {
  color: #f5f5f5;
}

.hero-text_3 {
  @apply text-2xl md:text-4xl font-bold;
}

/* plugins */

.color-primary {
  color: #242424;
}

.link_text {
  @apply text-blue-500 underline;
}
